<div class="container">

	<div class="content">
		<div class="contact">
			<div class="info">
				<div class="social">
					<h2 class="mail"><a href="mailto:madelinemanson@gmail.com">madelinemanson@gmail.com</a></h2>
					<h2 class="insta"><a href="http://instagram.com/madmanson__" target="_blank">@madmanson__</a></h2>
					<h2 class="tumblr"><a href="/" target="_blank">madistumblr</a></h2>
				</div>

				<div class="cv">
					<h1>CV</h1>

					{{#each jsonFeed.cv~}}
					<section>
						{{#markdown}}{{this.content}}{{/markdown}}
					</section>
					{{~/each~}}

				</div>

			</div>
			<div class="side-image">
				<img src="{{jsonFeed.etc.0.aboutImage.xhdpi}}">
			</div>
		</div>
	</div>

</div>