<div class="container">

	<div class="content">
		<div class="thumbnail-row">
			<div class="thumbnail">
				<div class="image">
					<img src="/images/School_of_Athens.jpg" alt="" class="source-image">
					<a class="div-link" href="/textile/blah"></a>
				</div>
				<h2 class="title">Name of the Project</h2>
			</div>
			<div class="thumbnail">
				<div class="image">
					<img src="/images/School_of_Athens.jpg" alt="" class="source-image">
					<a class="div-link" href="/textile/blah"></a>
				</div>
				<h2 class="title">Name of the Project</h2>
			</div>
			<div class="thumbnail">
				<div class="image">
					<img src="/images/School_of_Athens.jpg" alt="" class="source-image">
					<a class="div-link" href="/textile/blah"></a>
				</div>
				<h2 class="title">Name of the Project</h2>
			</div>
			<div class="thumbnail">
				<div class="image">
					<img src="/images/School_of_Athens.jpg" alt="" class="source-image">
					<a class="div-link" href="/textile/blah"></a>
				</div>
				<h2 class="title">Name of the Project</h2>
			</div>
		</div>

		<div class="thumbnail-row">
			<div class="thumbnail">
				<div class="image">
					<img src="/images/School_of_Athens.jpg" alt="" class="source-image">
					<a class="div-link" href="/textile/blah"></a>
				</div>
				<h2 class="title">Name of the Project</h2>
			</div>
			<div class="thumbnail">
				<div class="image">
					<img src="/images/School_of_Athens.jpg" alt="" class="source-image">
					<a class="div-link" href="/textile/blah"></a>
				</div>
				<h2 class="title">Name of the Project</h2>
			</div>
			<div class="thumbnail">
				<div class="image">
					<img src="/images/School_of_Athens.jpg" alt="" class="source-image">
					<a class="div-link" href="/textile/blah"></a>
				</div>
				<h2 class="title">Name of the Project</h2>
			</div>
			<div class="thumbnail">
				<div class="image">
					<img src="/images/School_of_Athens.jpg" alt="" class="source-image">
					<a class="div-link" href="/textile/blah"></a>
				</div>
				<h2 class="title">Name of the Project</h2>
			</div>
		</div>

		<div class="thumbnail-row">
			<div class="thumbnail">
				<div class="image">
					<img src="/images/School_of_Athens.jpg" alt="" class="source-image">
					<a class="div-link" href="/textile/blah"></a>
				</div>
				<h2 class="title">Name of the Project</h2>
			</div>
			<div class="thumbnail">
				<div class="image">
					<img src="/images/School_of_Athens.jpg" alt="" class="source-image">
					<a class="div-link" href="/textile/blah"></a>
				</div>
				<h2 class="title">Name of the Project</h2>
			</div>
			<div class="thumbnail">
				<div class="image">
					<img src="/images/School_of_Athens.jpg" alt="" class="source-image">
					<a class="div-link" href="/textile/blah"></a>
				</div>
				<h2 class="title">Name of the Project</h2>
			</div>
			<div class="thumbnail">
				<div class="image">
					<img src="/images/School_of_Athens.jpg" alt="" class="source-image">
					<a class="div-link" href="/textile/blah"></a>
				</div>
				<h2 class="title">Name of the Project</h2>
			</div>
		</div>

		<div class="thumbnail-row">
			<div class="thumbnail">
				<div class="image">
					<img src="/images/School_of_Athens.jpg" alt="" class="source-image">
					<a class="div-link" href="/textile/blah"></a>
				</div>
				<h2 class="title">Name of the Project</h2>
			</div>
			<div class="thumbnail">
				<div class="image">
					<img src="/images/School_of_Athens.jpg" alt="" class="source-image">
					<a class="div-link" href="/textile/blah"></a>
				</div>
				<h2 class="title">Name of the Project</h2>
			</div>
			<div class="thumbnail">
				<div class="image">
					<img src="/images/School_of_Athens.jpg" alt="" class="source-image">
					<a class="div-link" href="/textile/blah"></a>
				</div>
				<h2 class="title">Name of the Project</h2>
			</div>
			<div class="thumbnail">
				<div class="image">
					<img src="/images/School_of_Athens.jpg" alt="" class="source-image">
					<a class="div-link" href="/textile/blah"></a>
				</div>
				<h2 class="title">Name of the Project</h2>
			</div>
		</div>

	</div>
</div>