<div class="container">

	<div class="content">
		<div class="thumbnail-row">
			{{#each jsonFeed.collectionItems~}}

			{{#ifMod @index 4 0}}
			{{#ifNeq @index 0}}
			</div>
			<div class="thumbnail-row">
			{{/ifNeq}}
			{{/ifMod}}

			<div class="thumbnail">
				<div class="image">
					<img src="{{this.images.0.image.thumb-mdpi}}" alt="" class="source-image">
					<a class="div-link" href="/{{../bodyClass}}/{{this.slug}}"></a>
				</div>
				<h2 class="title">{{this.name}}</h2>
			</div>

			{{/each}}
		</div>
	</div>
</div>