<div class="container">

	<div class="content">
		<div class="contact">
			<div class="side-image">
				<img src="/images/School_of_Athens.jpg">
			</div>
			<div class="contact-info">
				<h2>email</h2>
				<h2>insta</h2>
				<h2>tumblr</h2>
			</div>
		</div>
	</div>

</div>