<div class="container">
	<h2 class="title-strip">Here's a title</h2>
	<div class="content list-set">
		<div class="thumbnail-row">
			<div class="thumbnail">
				<div class="image">
					<img src="/images/School_of_Athens.jpg" alt="" class="source-image">
					<a class="div-link" href="/textile/blah/1"></a>
				</div>
			</div>
			<div class="thumbnail">
				<div class="image">
					<img src="/images/School_of_Athens.jpg" alt="" class="source-image">
					<a class="div-link" href="/textile/blah/1"></a>
				</div>
			</div>
			<div class="thumbnail">
				<div class="image">
					<img src="/images/School_of_Athens.jpg" alt="" class="source-image">
					<a class="div-link" href="/textile/blah/1"></a>
				</div>
			</div>
			<div class="thumbnail">
				<div class="image">
					<img src="/images/School_of_Athens.jpg" alt="" class="source-image">
					<a class="div-link" href="/textile/blah/1"></a>
				</div>
			</div>
		</div>

		<div class="thumbnail-row">
			<div class="thumbnail">
				<div class="image">
					<img src="/images/School_of_Athens.jpg" alt="" class="source-image">
					<a class="div-link" href="/textile/blah/1"></a>
				</div>
			</div>
			<div class="thumbnail">
				<div class="image">
					<img src="/images/School_of_Athens.jpg" alt="" class="source-image">
					<a class="div-link" href="/textile/blah/1"></a>
				</div>
			</div>
		</div>

	</div>
</div>