<div class="container">

	<div class="content set">
		<div class="main">
			<img src="/images/School_of_Athens.jpg" alt="" class="source-image">
		</div>
		<div class="main">
			<img src="/images/School_of_Athens.jpg" alt="" class="source-image">
		</div>
		<div class="main">
			<img src="/images/School_of_Athens.jpg" alt="" class="source-image">
		</div>
		<div class="main">
			<img src="/images/School_of_Athens.jpg" alt="" class="source-image">
		</div>
	</div>
</div>