<div class="container">

	<div class="content set">
		<div class="set-wrap">
			<div class="arrow" id="left-arrow">
				<h3><</h3>
			</div>
			<div class="main-pic">
				<ul data-visible-index="1" data-total-pics="2" id="carousel">
					<li>
						<img src="/images/School_of_Athens.jpg" alt="" class="source-image">
					</li>
					<li style="display:none;">
						<img src="https://s3-us-west-2.amazonaws.com/jbll-madelinemanson/90a0eb55e6d38878/image/20140718_madi_119-mdpi.jpg" alt="" class="source-image">
					</li>
				</ul>
			</div>
			<div class="arrow" id="right-arrow">
				<h3>></h3>
			</div>
		</div>
	</div>
</div>