<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js gt-ie8"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Madi Manson - {{this.title}}</title>
        <meta name="description" content="">
        {{!-- <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, width=device-width"> --}}
        <meta name="viewport" content="user-scalable=no">
        <meta name="viewport" content="initial-scale=1,maximum-scale=1">
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <link rel="icon" href="/favicon.ico" type="image/x-icon">

        {{!-- <meta name="description" content="">
        <meta property="og:title" content="{{}}"/>
        <meta property="og:type" content="website"/>
        <meta property="og:description" content=""/>
        <meta property="og:image" content=""/>
        <meta property="og:url" content=""/>
        <meta property="og:site_name" content=""/>
        <meta name="twitter:site" content="@"> --}}
         
        <link rel="stylesheet" href="/css/main.css">
        <script src="/js/vendor/modernizr.min.js"></script>
    </head>
<body>

    <div class="container">
        <div class="logo">
            <a class="div-link" href="/"></a>
        </div>
        <div class="nav-row">
            <h1><a href="/">Madi Manson</a></h1>
            <ul>
                <li><a href="/textiles">textiles</a></li>
                <li><a href="/prints">prints</a></li>
                <li><a href="/objects">objects</a></li>
                <li><a href="/about">about</a></li>
                <li><a href="/friends">friends</a></li>
            </ul>
        </div>
    </div>

    {{{body}}}

<script src="/js/script.min.js"></script>
</body>
</html>