// Colors

// input field highlight, links, active states, e.g., uncorked orange
$main-highlight: #F2BE6A;

// exactly what it sounds like
$nav-background: #191919;
// self-explanatory
$modal-background: #0d0d0d;

// sub headers, login button, switch widgets, etc.
$sub-header-accent: #333333;
// background for 'thing' pages, rows on lists, etc.
$main-background: #404040;


// inactive buttons, image box backgrounds, optional input borders, etc.
$inactive-accent: #4d4d4d;
// field title text, block hover states, etc.
$text-color-accent-secondary: #a6a6a6;
// page titles, item titles in lists, required item borders, etc
$text-color-accent: #d9d9d9;
// extra description for input fields, tag options
$detail-accent: #666666;