// Load Fonts
@import "http://cloud.typography.com/6338432/611002/css/fonts.css";

// Typography
$primary-sans-serif: 'Gotham SSm A', 'Gotham SSm B';
$secondary-sans-serif: 'Gotham A', 'Gotham B';

.gotham-ss-black{
	font-family: $primary-sans-serif;
	font-weight: 600;
}

.gotham-ss-light, .gotham-ss-thin{
	font-family: $primary-sans-serif;
	font-weight: 300;
}

.gotham-light{
	font-family: $secondary-sans-serif;
	font-weight: 300;
	@include antialiased;
}