div.container{

	div.content{
		div.thumbnail-row{
			@include row;
			@include border-box;
			// margin-bottom: rhythm(30/9);
			div.thumbnail{
				@include border-box;
				width: columns(2.495, 12);
				// width: 198px;
				margin-right: columns(0.667, 12);
				&:last-child{
					margin-right: 0;
				}
				div.image{
					@include transition(opacity, 0.2s, linear);
					position: relative;
					height: 180px;
					background-color: transparent;
					// background-size: 100% 100%;
					background-size: contain;
					background-repeat: no-repeat;
					background-position: 50% 50%;
					@media #{$break-small}{
						height: 80px;
					}
				}
				img.source-image{
					width: 100%;
				}
				h2.title{
					width: 100%;
					@extend .gotham-ss-thin;
					@include adjust-font-size-to(14px, 16/9);
					margin-top: rhythm(4/9);
					margin-bottom: rhythm(32/9);
					@media #{$break-small}{
						@include adjust-font-size-to(8px, 8/9);
					}
					@media #{$break-medium} {
						text-align: center;
					}
				}
				&:hover{
					cursor: pointer;
					div.image{
						opacity: 0.6;
					}
				}
				@media #{$break-medium}{
					width: 44%;
				}
			}
		}
		width: columns(12, 16);
	}
}