div.container .content{
	div.friends{
		@include row;
	}

	div.links{
		width: columns(5, 12);
		padding-left: 4%;
	}

	h3{
		text-align: left;
		@extend .gotham-ss-thin;
		@include adjust-font-size-to(14px, 32/9);
		a{
			text-decoration: none;
			color: #6CD1D4;
			@include transition(color, 0.2s, linear);
			&:hover{
				color: #000000;
			}
		}
	}

}