div.container .content{
	div.friends{
		@include row;
	}

	div.links{
		padding-left: 65%;
		@media #{$break-medium}{
			padding-left: 0;
		}
	}

	h3{
		text-align: left;
		@extend .gotham-ss-thin;
		@include adjust-font-size-to(14px, 32/9);
		//@media #{$break-small}{
		//	@include adjust-font-size-to(12px, 28/9);
		//}
		a{
			text-decoration: none;
			color: #000000;
			@include transition(color, 0.2s, linear);
			&:hover{
				color: $main-highlight;
			}
		}
	}

}