div.container{
	h2.title-strip{
		visibility: hidden;
	}
	div.content.list-set{
		padding-top: 0;
		margin-top: rhythm(12/9);
		div.thumbnail-row div.thumbnail{
			@media #{$break-small}{
				margin-bottom: 2em;
			}
		}
	}
	div.content.list-set-prints{
		margin-top: rhythm(12/9);
		padding-top: rhythm(238/9);
		@media #{$break-small}{
			padding-top: 11em;
		}
	}
}