<div ng-show="$root.userLoaded">
<sub-header current-page={{subHeaderText}} current-obj="friend" save-fcn="save()" back="back()" form-is-valid="formIsValid()">
</sub-header>

<div class="full-width form-fields">
<div class="container">
	<form class="" name="friendForm">
		<div class="field-section">
			<div class="section-header"><h1>Required Items</h1></div>
			<div class="field-group">

				<div class="field-row" ng-show="invalidSubmitted && !formIsValid()">
					<div class="field full-width invalid">
						<h1 class="field-title">You're missing one or more fields required to save this Friend.</h1>
					</div>
				</div>

				<div class="field-row" ng-if="serverError">
					<div class="field full-width invalid">
						<h1 class="field-title">There was an error saving the Friend to the database: {{serverError}}</h1>
					</div>
				</div>

				<div class="field-row">
					<div class="field full-width" ng-class="{'invalid': invalidSubmitted && !friend.name}">
						<h1 class="field-title">Name</h1>
						<input type="text" ng-model="friend.name" name="name">
						<h1 class="required" ng-show="invalidSubmitted && !friend.name">This is a required field.</h1>
					</div>
				</div>

				<div class="field-row">
					<div class="field full-width" ng-class="{'invalid': invalidSubmitted && !friend.url}">
						<h1 class="field-title">Site Url</h1>
						<input type="text" ng-model="friend.url" name="url">
						<h1 class="required" ng-show="invalidSubmitted && !friend.url">This is a required field.</h1>
					</div>
				</div>

			</div>
		</div>
	</form>
</div>
</div>
</div>