<div class="image-modal">

    <div class="lead-info">
        <div class="text">
            <h3 class="file-upload">File Upload</h3>
            <h1>{{modalObj.title}}</h1>
        </div>
        <div class="icon">
            <span ng-class="modalObj.icon"></span>
        </div>
    </div>

    <div class="description">
        <h3>{{modalObj.info}}</h3> 
        <!-- <h3 class="download-icon"><a href="{{modalObj.templateUrl}}"><span class="icon-download"></span></a></h3><h3 class="download">Download Template</h3> -->
    </div>

    <div class="restriction">
        <h3>{{modalObj.spec}}</h3>
    </div>

    <div class="drop-area" dropzone ng-class="{'upload-successful': submitEnabled}">
        <div class="dropzone-copy dz-default dz-message" ng-if="!uploading">
            <p class="image-icon"><span class="icon-addStd"></span></p>
            <p class="choose-image">Choose Image</p>
            <p class="tagline">or drag & drop it here</p>
        </div>
        <div class="three-quarters spinner" ng-if="uploading" ng-class="{finished: submitEnabled}">
            Loading
        </div>
        <h2 class="uploading" ng-if="uploading && !submitEnabled">Uploading</h2>
        <h2 class="uploading" ng-if="submitEnabled">Upload Successful</h2>
    </div>

    <div class="field" ng-class="{nonempty: imageObj.altText}" ng-if="modalObj.hasAltText">
        <h2>
            Image Name
        </h2>
        <input type="text" ng-model="imageObj.altText"></input>
    </div>

    <div class="button-group">
        <button ng-click="ok()" ng-class="submitClass" ng-disabled="!submitEnabled" disabled>Submit</button>
    	<button ng-click="cancel()">Cancel</button>
    </div>

</div>