<div class="login-error-modal">

    <div class="lead-info">
        <div class="text">
            <h3 class="file-upload">OOPS...</h3>
            <h1>Bad Credentials</h1>
        </div>
        <div class="icon">
            <span class="icon-no"></span>
        </div>
    </div>

    <div class="content">
    <div class="warning">
        <h2>Please log in with your madelinemanson.com credentials.</h2>

        <h2 class="help">If you have not received your credentials or need additional help logging in, please contact the <a href="">site admin</a>.</h2>
    </div>
    </div>

    <div class="button-group">
    	<button ng-click="$close()">OK</button>
    </div>

</div>