<sub-header-simple></sub-header-simple>

<div class="full-width form-fields">

	<div class="container form-login">

		<div class="leading">
			<h1>&#8212</h1>
		</div>

		<form ui-keypress="{13: 'login()'}">

			<div class="field-section">

				<div class="section-header account-info">
					<p>Please log in with your Small Batch CMS credentials.</p>
					<br />
					<p>If you haven't received your credentials or need help logging in, please contact your <a href="">site admin</a>.</p>
				</div>

				<div class="field-group">

					<div class="field-row">
						<div class="field full-width optional" ng-class="{nonempty: username}">
							<h1 class="field-title">
								Username
							</h1>
							<input type="text" name="username" ng-model="username"></input>
						</div>
					</div>

					<div class="field-row">
						<div class="field full-width optional" ng-class="{nonempty: password}">
							<h1 class="field-title">
								Password
							</h1>
							<input type="password" name="password" ng-model="password"></input>
						</div>
					</div>

					<div class="field-row">
						<div class="field full-width">
							<div class="button" ng-click="login()" style="margin-left: 0; width: 100%; border: none;">
								<h2>Log In</h2>
							</div>
						</div>
					</div>
				</div>
			</div><!-- field section -->
		</form>
	</div>
</div>
